# Power BI
*.pbit
*.pbitool.json
*.rdl.data
*.tmp

# Dados (NUNCA subir brutos/tratados)
dados/raw/
dados/processed/

# Amostras pequenas e sintéticas podem ficar em dados/samples/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# IDEs / Editores
.vscode/
.idea/
*.swp
*.swo

# Windows / Mac
Thumbs.db
desktop.ini
.DS_Store